@model MainViewModel
<div class="peliculas-favoritas contenedor">
    <h2 class="Seccion">PELICULAS</h2></br>

    <div class="contenedor-titulo-controles">

        <h3>Favoritas</h3>
        <div class="indicadores"></div>
    </div>

    <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

        <div class="contenedor-carousel1">
            <div class="carousel">

                @foreach (var item in Model.popularViewModel.results)
                {
                    string srcImg = "https://image.tmdb.org/t/p/w500" + @item.poster_path;

    <div class="pelicula">
        <a href="#"><img src=@srcImg alt=""></a>
    </div>}
            </div>
        </div>



        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
    </div>

</div>

@*POPULARES*@
<div class="peliculas-recommendations contenedor">
    @*<h2 class="Seccion">PELICULAS</h2>*@</br>

    <div class="contenedor-titulo-controles2">

        <h3>Populares</h3>
        <div class="indicadores2"></div>
    </div>

    <div class="contenedor-principal2">
        <button role="button" id="flecha-izquierda2" class="flecha-izquierda2"><i class="fas fa-angle-left"></i></button>

        <div class="contenedor-carousel2">
            <div class="carousel">

                @foreach (var item in Model.recommendationsViewModel.results)
                {
                    string srcImg = "https://image.tmdb.org/t/p/w500" + @item.poster_path;

    <div class="pelicula2">
        <a href="#"><img src=@srcImg alt=""></a>
    </div>}
            </div>
        </div>



        <button role="button" id="flecha-derecha2" class="flecha-derecha2"><i class="fas fa-angle-right"></i></button>
    </div>

</div>

@*CLASIFICADOS*@
<div class="peliculas-clasificados contenedor">
    @*<h2 class="Seccion">PELICULAS</h2>*@</br>

    <div class="contenedor-titulo-controles3">

        <h3>Clasificados</h3>
        <div class="indicadores3"></div>
    </div>

    <div class="contenedor-principal3">
        <button role="button" id="flecha-izquierda3" class="flecha-izquierda3"><i class="fas fa-angle-left"></i></button>

        <div class="contenedor-carousel3">
            <div class="carousel">

                @foreach (var item in Model.ratedViewModel.results)
                {
                    string srcImg = "https://image.tmdb.org/t/p/w500" + @item.poster_path;

    <div class="pelicula3">
        <a href="#"><img src=@srcImg alt=""></a>
    </div>}
            </div>
        </div>



        <button role="button" id="flecha-derecha3" class="flecha-derecha3"><i class="fas fa-angle-right"></i></button>
    </div>

</div>


@*TV FAVORITOS*@
<div class="peliculas-tvFavoritos contenedor">
    <h2 class="Seccion">TV SHOWS</h2></br>
    

    <div class="contenedor-titulo-controlestvFavoritos">

        <h3>TV Favoritos</h3>
        <div class="indicadorestvFavoritos"></div>
    </div>

    <div class="contenedor-principaltvFavoritos">
        <button role="button" id="flecha-izquierdatvFavoritos" class="flecha-izquierdatvFavoritos"><i class="fas fa-angle-left"></i></button>

        <div class="contenedor-carouseltvFavoritos">
            <div class="carousel">

                @foreach (var item in Model.tvPopularViewModel.results)
                {
                    string srcImg = "https://image.tmdb.org/t/p/w500" + @item.poster_path;

    <div class="peliculatvFavoritos">
        <a href="#"><img src=@srcImg alt=""></a>
    </div>}
            </div>
        </div>



        <button role="button" id="flecha-derechatvFavoritos" class="flecha-derechatvFavoritos"><i class="fas fa-angle-right"></i></button>
    </div>

</div>