<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Strip Carousel</title>
    <link rel="stylesheet" href="~/plugins/slider/styles.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <h1 class="titulo">NETFLIX</h1>

    @RenderBody()

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="~/plugins/slider/slider.js"></script>

</body>
</html>
